{
  "singleQuote": false,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "parser":"vue",
  "plugins": ["@morioh/v-lightbox"],
  "quoteProps": "preserve"
}